In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('legal_text_classification.csv')

In [4]:
df.head()

,case_id,case_outcome,case_title,case_text
0,Case1,cited,Alpine Hardwood (Aust) Pty Ltd v Hardys Pty Lt...,Ordinarily that discretion will be exercised s...
1,Case2,cited,Black v Lipovac [1998] FCA 699 ; (1998) 217 AL...,The general principles governing the exercise ...
2,Case3,cited,Colgate Palmolive Co v Cussons Pty Ltd (1993) ...,Ordinarily that discretion will be exercised s...
3,Case4,cited,Dais Studio Pty Ltd v Bullett Creative Pty Ltd...,The general principles governing the exercise ...
4,Case5,cited,Dr Martens Australia Pty Ltd v Figgins Holding...,The preceding general principles inform the ex...

In [5]:
df. describe()

,case_id,case_outcome,case_title,case_text
count,24985,24985,24985,24809
unique,24985,10,18581,17920
top,Case1,cited,Minister for Immigration and Ethnic Affairs v ...,submitted that this Court should hold that the...
freq,1,12219,70,42

In [6]:
df.info

<bound method DataFrame.info of          case_id   case_outcome  \
0          Case1          cited
1          Case2          cited
2          Case3          cited
3          Case4          cited
4          Case5          cited
...          ...            ...
24980  Case25203          cited
24981  Case25204          cited
24982  Case25205          cited
24983  Case25206  distinguished
24984  Case25207  distinguished

                                              case_title  \
0      Alpine Hardwood (Aust) Pty Ltd v Hardys Pty Lt...
1      Black v Lipovac [1998] FCA 699 ; (1998) 217 AL...
2      Colgate Palmolive Co v Cussons Pty Ltd (1993) ...
3      Dais Studio Pty Ltd v Bullett Creative Pty Ltd...
4      Dr Martens Australia Pty Ltd v Figgins Holding...
...                                                  ...
24980  Reches Pty Ltd v Tadiran Pty Ltd (1998) 85 FCR...
24981  Sir Lindsay Parkinson &amp; Co Ltd v Triplan L...
24982  Spiel v Commodity Brokers Australia Pty Ltd (I...
24983  Tullock Ltd v Walker (Unreported, Supreme Cour...
24984  Yandil Holdings Pty Ltd v Insurance Co of Nort...

                                               case_text
0      Ordinarily that discretion will be exercised s...
1      The general principles governing the exercise ...
2      Ordinarily that discretion will be exercised s...
3      The general principles governing the exercise ...
4      The preceding general principles inform the ex...
...                                                  ...
24980  That is not confined to persons who control th...
24981  Once the threshold prescribed by s 1335 is sat...
24982  Once the threshold prescribed by s 1335 is sat...
24983  Given the extent to which Deumer stands to gai...
24984  In my view, it is clear that the Court may do ...

[24985 rows x 4 columns]>

In [7]:
df.columns

Index(['case_id', 'case_outcome', 'case_title', 'case_text'], dtype='object')